<html>
	<head>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
		<style>

body {
	font-family: 'Noto Sans KR', sans-serif;
}
#sign {
	width: 300px;
	margin: 100px auto;
	padding: 70px 100px 100px 100px;
	border: 1px solid #999;
	border-radius: 10px;
	box-shadow: 2px 2px 20px 0px #b3b3b3;
}

#sign input {
	height: 30px;
	width: 100%;
}

#sign a {
	font-size: 11pt;
}
@media ( max-width: 1000px ) {
	#sign {
		width: 50%;
		font-size: 30pt;
	}
	#sign input {
		height: 100px;
		font-size: 24pt;
	}
	#sign a {
		font-size: 16pt;
	}
}
		</style>
	</head>
	<body>
		<form action="./sign" method="post">
			<div id="sign">
				<h2>간편 서명</h2>
				<p>KGU ID</p><input type="text" name="id">
				<p>KGU PW</p><input type="password" name="pw">
				<br><br></br><input type="submit" value="서명하기">
				<br><br><a href="./code">본 서비스는 개인정보를 수집하지 않습니다. 입증을 위해 server side 코드를 공개합니다.</a>
			</div>
		</form>
		<script>
$('input[type=submit]').on('click', function(e) {
	$('#sign').append($('<div style="background-color:#ff000033; padding:5px;"><p>서명이 요청되었습니다. 잠시만 기다려주세요. 10초 이내에 처리되지 않는다면 새로고침 후 다시 진행해보세요</p></div>'));
	$('input[type=submit]').attr('disabled', true)
	$(e.target).parents('form')[0].submit()
})

		
		</script>
	</body>
</html>
